<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <div class=" row">
            <div class="col-sm-12">
                <div class="testata"><h1> TWEETS EXTRACTION PROJECT</h1></div>
            </div>

            <div class="row">

                <div class="col-sm-4">
                    <div><h2>Graphics</h2></div>
                </div>
                <div class="col-sm-4">
                    <div><h2>Devolopers</h2></div>
                </div>

            </div>

            <div class="row">

                <div class="col-sm-4"><div>a</div></div>
                <div class="col-sm-4">
                    <div class="table">
                        <input type="checkbox" /> Italy <br />
                        <input type="checkbox" /> Belgium <br />
                        <input type="checkbox" /> UK <br />
                        <input type="checkbox" /> Germenay <br />
                        <input type="checkbox" /> France <br />
                        

                    </div>
                </div>
                <div class="col-sm-4"><div>c</div></div>

            </div>
        </div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - TSiD</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
